/* RevealFx CSS Module */

.revealFx {
  mask-size: 400% 100%;
  transition: all ease-in-out;
  mask-image: linear-gradient(to right, black 0%, black 25%, transparent 50%);
}

.revealFx.hidden {
  mask-position: 100% 0;
  filter: blur(0.5rem);
}

.revealFx.revealed {
  mask-position: 0 0;
  filter: blur(0);
}

.hiddenNoMask {
  transition: all ease-in-out;
  filter: blur(0.5rem);
  opacity: 0;
}

.revealedNoMask {
  transition: all ease-in-out;
  filter: blur(0);
  opacity: 1;
}

/* Animation durations */
.duration-fast {
  transition-duration: 0.4s;
}

.duration-normal {
  transition-duration: 0.8s;
}

.duration-slow {
  transition-duration: 1.2s;
}
